{
	"swagger": "2.0",
	"info": {
		"description": "This is a jio Fleet Management System",
		"version": "1.1.0",
		"title": "Jio Fleet Management System",
		"termsOfService": "http://swagger.io/terms/",
		"contact": {
			"email": "apiteam@swagger.io"
		},
		"license": {
			"name": "Apache 2.0",
			"url": "http://www.apache.org/licenses/LICENSE-2.0.html"
		}
	},
	"host": "jiofmsapi.wddemo.net:5002",
	"basePath": "/",
	"schemes": [
		"http",
		"https"
	],
	"securityDefinitions": {
		"bearerAuth": {
			"type": "apiKey",
			"name": "x-access-token",
			"in": "header",
			"description": "For accessing the API a valid JWT token must be passed in all the queries in the 'Authorization' header. A valid JWT token is generated by the API and retourned as answer of a call to the route /login giving a valid user & password. The following syntax must be used in the 'Authorization' header : x-access-token: xxxxxx.yyyyyyy.zzzzzz"
		}
	},
	"tags": [
		{
			"name": "user",
			"description": "api for users operations"
		},
		{
			"name": "Track And Trace Dashboard",
			"description": "Api for Track And Trace dashboard"
		},
		{
			"name": "Heavy Equipment Monitoring Dashboard",
			"description": "Api for Heavy Equipment Monitoring dashboard"
		},
		{
			"name": "Connected Goods Monitoring Dashboard",
			"description": "Api for Connected Goods Monitoring dashboard"
		},
		{
			"name": "Diesel Generator Monitoring Dashboard",
			"description": "Api for Diesel Generator Monitoring dashboard"
		},
		{
			"name": "route management",
			"description": "Api for the Route management"
		},
		{
			"name": "enterprise management",
			"description": "This APIs used for manage Enterprise"
		},
		{
			"name": "Guest Management System",
			"description": "This APIs used for manage the Guest"
		}
	],
	"paths": {
		"/login": {
			"post": {
				"tags": [
					"user"
				],
				"summary": "Login",
				"description": "Use this api to login into the system",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "user login details",
						"required": true,
						"schema": {
							"$ref": "#/definitions/login_post"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Login successfully",
						"schema": {
							"$ref": "#/definitions/login_response"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/superuser/login": {
			"post": {
				"tags": [
					"user"
				],
				"summary": "Super admin login",
				"description": "This API use for login super admin into the system",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"description": "user login details",
						"required": true,
						"schema": {
							"$ref": "#/definitions/login_post"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Login successfully",
						"schema": {
							"$ref": "#/definitions/login_response"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/search/assets": {
			"get": {
				"tags": [
					"Track And Trace Dashboard",
					"Heavy Equipment Monitoring Dashboard",
					"Diesel Generator Monitoring Dashboard"
				],
				"summary": "get asset list",
				"description": "Get asset lists",
				"produces": [
					"application/json"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"responses": {
					"200": {
						"description": "Asset details",
						"schema": {
							"$ref": "#/definitions/search_assets"
						}
					},
					"400": {
						"description": "Bad Request",
						"schema": {
							"$ref": "#/responses/bad_request"
						}
					}
				}
			}
		},
		"/devices/currentstatus": {
			"get": {
				"tags": [
					"Track And Trace Dashboard",
					"Heavy Equipment Monitoring Dashboard"
				],
				"summary": "Get the latest location of the fleet",
				"description": "This is api giving the details of fleet location and status",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/pageSize"
					},
					{
						"$ref": "#/parameters/pageNumber"
					},
					{
						"$ref": "#/parameters/sortBy"
					},
					{
						"$ref": "#/parameters/sortOrder"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/currentstatus"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				},
				"security": [
					{
						"bearerAuth": []
					}
				]
			}
		},
		"/aggregation/vehiclestatus": {
			"get": {
				"tags": [
					"Track And Trace Dashboard",
					"Heavy Equipment Monitoring Dashboard"
				],
				"produces": [
					"application/json"
				],
				"summary": "Get aggregation details of vehicles",
				"description": "Get aggregation details of vehicles",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully operation",
						"schema": {
							"$ref": "#/definitions/aggregation_vehiclestatus"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/devices/alerts": {
			"get": {
				"summary": "Get the alerts details",
				"description": "Details of the alerts",
				"tags": [
					"Track And Trace Dashboard",
					"Connected Goods Monitoring Dashboard",
					"Diesel Generator Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/pageSize"
					},
					{
						"$ref": "#/parameters/pageNumber"
					},
					{
						"$ref": "#/parameters/sortBy"
					},
					{
						"$ref": "#/parameters/sortOrder"
					},
					{
						"$ref": "#/parameters/from"
					},
					{
						"$ref": "#/parameters/to"
					},
					{
						"$ref": "#/parameters/alccode"
					},
					{
						"$ref": "#/parameters/showlocation"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/devices_alerts_response"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/aggregation/devicestatus": {
			"get": {
				"tags": [
					"Track And Trace Dashboard",
					"Heavy Equipment Monitoring Dashboard",
					"Connected Goods Monitoring Dashboard"
				],
				"summary": "Get the device aggregation status",
				"description": "Get the device aggregation status",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/aggregation_devicestatus"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/aggregation/alerts": {
			"get": {
				"tags": [
					"Track And Trace Dashboard",
					"Heavy Equipment Monitoring Dashboard",
					"Connected Goods Monitoring Dashboard",
					"Diesel Generator Monitoring Dashboard"
				],
				"summary": "Get alerts aggregation details",
				"description": "Get alerts aggregation details",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/aggregation_alerts"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/devices/AlertsDuration": {
			"get": {
				"summary": "Get alerts durations",
				"description": "Get alerts durations",
				"tags": [
					"Track And Trace Dashboard",
					"Heavy Equipment Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"type": "array",
							"items": {
								"properties": {
									"name": {
										"type": "string"
									},
									"value": {
										"type": "string"
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/geofences/{deviceProvisionId}": {
			"get": {
				"summary": "Get geofence by device provision Id",
				"description": "Get geofence by device provision Id",
				"tags": [
					"Track And Trace Dashboard",
					"Heavy Equipment Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "deviceProvisionId",
						"in": "path",
						"type": "integer",
						"format": "int64",
						"required": true,
						"description": "Device provision Id"
					},
					{
						"$ref": "#/parameters/pageSize"
					},
					{
						"$ref": "#/parameters/pageNumber"
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully opeartion",
						"schema": {
							"$ref": "#/definitions/geofences_by_deviceprovisionId"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/reports/routes/{deviceProvisionId}": {
			"get": {
				"summary": "Get route details",
				"description": "Get route details",
				"tags": [
					"Track And Trace Dashboard",
					"Heavy Equipment Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "deviceProvisionId",
						"in": "path",
						"type": "integer",
						"format": "int64",
						"required": true,
						"description": "Device provision Id"
					},
					{
						"$ref": "#/parameters/from"
					},
					{
						"$ref": "#/parameters/to"
					},
					{
						"$ref": "#/parameters/lat"
					},
					{
						"$ref": "#/parameters/lgt"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"type": "array",
							"items": {
								"properties": {
									"lat": {
										"type": "number"
									},
									"lgt": {
										"type": "number"
									},
									"spd": {
										"type": "number"
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/devices/updateTrackingInterval": {
			"post": {
				"summary": "Update tracking interval",
				"description": "Update tracking interval",
				"tags": [
					"Track And Trace Dashboard",
					"Heavy Equipment Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "updateTrackingInterval",
						"in": "body",
						"description": "set config data",
						"schema": {
							"type": "object",
							"properties": {
								"cmd": {
									"type": "string"
								},
								"deviceId": {
									"type": "number"
								},
								"timeInterval": {
									"type": "integer"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "update Tracking Interval successfully",
						"schema": {
							"type": "object",
							"properties": {
								"message": {
									"type": "string"
								},
								"status": {
									"type": "string"
								}
							}
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/route/{routeId}": {
			"delete": {
				"summary": "Delete the route",
				"description": "Delete the route",
				"tags": [
					"route management"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "routeId",
						"in": "path",
						"type": "integer",
						"format": "int64",
						"description": "RouteId",
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "Route delete from the system",
						"schema": {
							"$ref": "#/responses/delete_successful"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/aggregation/heavyvehicle/slidata": {
			"get": {
				"summary": "Get sli data",
				"description": "Get sli data",
				"tags": [
					"Heavy Equipment Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/he_dashboard_slidata"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/goods/aggregation/asset/powerstatus": {
			"get": {
				"summary": "Get the asset power status",
				"description": "Get the asset power status",
				"tags": [
					"Connected Goods Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"type": "object",
							"properties": {
								"OFF": {
									"type": "integer"
								},
								"ON": {
									"type": "integer"
								},
								"TOTAL": {
									"type": "integer"
								},
								"UNKNOWN": {
									"type": "integer"
								}
							}
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/livestatus/asset": {
			"get": {
				"summary": "Get the asset sensor types details",
				"description": "Get the asset sensor types details",
				"tags": [
					"Connected Goods Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "sensorTypes",
						"type": "string",
						"in": "query",
						"description": "The comma seprated values of sensor types (door,temperature,power)"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/cg_dashboard_asset_livestatus"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/goods/livestatus/asset/dgstatus": {
			"get": {
				"summary": "Get the dg status of asset",
				"description": "Get the dg status of asset",
				"tags": [
					"Diesel Generator Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/pageSize"
					},
					{
						"$ref": "#/parameters/pageNumber"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/dg_dashboard_livestatus_dgstatus"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/goods/aggregation/asset/dgstatus": {
			"get": {
				"summary": "Get the aggregation dg status",
				"description": "Get the aggregation DG status",
				"tags": [
					"Diesel Generator Monitoring Dashboard"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/dg_dashboard_aggregation_asset_status"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/tenants": {
			"get": {
				"tags": [
					"enterprise management"
				],
				"summary": "Get enterprise list",
				"description": "This API is use for list of all enterprises",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/pageNumber"
					},
					{
						"$ref": "#/parameters/pageSize"
					},
					{
						"$ref": "#/parameters/sortBy"
					},
					{
						"$ref": "#/parameters/sortOrder"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/enterpries_response"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/gms/getmasterdata": {
			"get": {
				"summary": "Get the master data",
				"description": "Get the master data",
				"tags": [
					"Guest Management System"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"$ref": "#/definitions/gms_getmasterdata_response"
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/gms/trips/aggregation": {
			"get": {
				"summary": "Get trips aggregation data",
				"description": "Get trips aggregation data",
				"tags": [
					"Guest Management System"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/searchKey"
					},
					{
						"name": "tripType",
						"in": "query",
						"description": "Get list of trip based on trip types, comma seprated string (Local Trip, Airport Drop, Airport Pickup, Service Trip)",
						"type": "string"
					},
					{
						"$ref": "#/parameters/from"
					},
					{
						"$ref": "#/parameters/to"
					}
				],
				"responses": {
					"200": {
						"description": "Return list of trips",
						"schema": {
							"type": "object",
							"properties": {
								"tripStatusCount": {
									"type": "object",
									"properties": {
										"Arrived": {
											"type": "integer"
										},
										"Arriving": {
											"type": "integer"
										},
										"Assigned": {
											"type": "integer"
										},
										"Cancelled": {
											"type": "integer"
										},
										"Completed": {
											"type": "integer"
										},
										"PickedUp": {
											"type": "integer"
										},
										"Total": {
											"type": "integer"
										},
										"TripStarted": {
											"type": "integer"
										},
										"Unassigned": {
											"type": "integer"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/gms/trips/list": {
			"get": {
				"summary": "Get list of trips",
				"description": "Get list of trips",
				"tags": [
					"Guest Management System"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/pageSize"
					},
					{
						"$ref": "#/parameters/pageNumber"
					},
					{
						"$ref": "#/parameters/from"
					},
					{
						"$ref": "#/parameters/to"
					},
					{
						"$ref": "#/parameters/searchKey"
					},
					{
						"name": "tripType",
						"in": "query",
						"type": "string",
						"description": "Get list of trip based on trip types, comma seprated string (Local Trip, Airport Drop, Airport Pickup, Service Trip)"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {
							"type": "object",
							"properties": {
								"executionTime": {
									"type": "number"
								},
								"tripsList": {
									"type": "array",
									"items": {
										"properties": {
											"bookingId": {
												"type": "integer"
											},
											"bookingType": {
												"type": "string"
											},
											"carDetails": {
												"type": "object",
												"properties": {
													"assetId": {
														"type": "string"
													},
													"carNumber": {
														"type": "string"
													},
													"deviceProvisionId": {
														"type": "string"
													},
													"name": {
														"type": "string"
													}
												}
											},
											"carType": {
												"type": "string"
											},
											"carrier": {
												"type": "string"
											},
											"comment": {
												"type": "string"
											},
											"driverDetails": {
												"type": "object",
												"properties": {
													"driverId": {
														"type": "integer"
													},
													"firstName": {
														"type": "string"
													},
													"lastName": {
														"type": "string"
													},
													"mobile": {
														"type": "string"
													}
												}
											},
											"dropTime": {
												"type": "string"
											},
											"endLocation": {
												"type": "string"
											},
											"guestDetails": {
												"type": "object",
												"properties": {
													"email": {
														"type": "string"
													},
													"firstName": {
														"type": "string"
													},
													"lastName": {
														"type": "string"
													},
													"middleName": {
														"type": "string"
													},
													"mobile": {
														"type": "string"
													},
													"title": {
														"type": "string"
													}
												}
											},
											"hotelId": {
												"type": "string"
											},
											"pickupTime": {
												"type": "number"
											},
											"startLocation": {
												"type": "string"
											},
											"tripEndTime": {
												"type": "number"
											},
											"tripId": {
												"type": "string"
											},
											"tripStartTime": {
												"type": "number"
											},
											"tripStatus": {
												"type": "string"
											},
											"tripType": {
												"type": "string"
											}
										}
									}
								},
								"page": {
									"description": "Details of the page",
									"properties": {
										"pageNumber": {
											"description": "Page number"
										},
										"pageSize": {
											"description": "Page size of recrods to render on page"
										},
										"total": {
											"description": "Total no of records"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		},
		"/gms/bookings": {
			"get": {
				"summary": "Get Guest Details by Booking Id",
				"description": "Get Guest Details by Booking Id",
				"tags": [
					"Guest Management System"
				],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/searchKey"
					},
					{
						"$ref": "#/parameters/pageNumber"
					},
					{
						"$ref": "#/parameters/pageSize"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully operation",
						"schema": {}
					},
					"400": {
						"$ref": "#/responses/bad_request"
					},
					"401": {
						"$ref": "#/responses/unauthorized"
					}
				}
			}
		}
	},
	"definitions": {
		"login_post": {
			"properties": {
				"username": {
					"type": "string",
					"description": "username",
					"required": true,
					"example": "siteadmin@test.com"
				},
				"password": {
					"type": "string",
					"format": "encrypted password",
					"description": "the password of user in encrypted",
					"example": "DrfQXwQX4V1ul775z6aE,,w==1"
				},
				"devicetype": {
					"type": "string",
					"description": "This will distinguish between the mobile and desktop",
					"example": "desktop"
				}
			}
		},
		"login_response": {
			"properties": {
				"access_token": {
					"type": "string",
					"description": "JWT token"
				},
				"sa": {
					"type": "boolean",
					"description": "user is superadmin or not"
				}
			}
		},
		"search_assets": {
			"type": "object",
			"properties": {
				"vehicleList": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"imei": {
								"type": "string"
							},
							"vehicleName": {
								"type": "string"
							},
							"vehicleNo": {
								"type": "string"
							}
						}
					}
				}
			}
		},
		"currentstatus": {
			"type": "object",
			"properties": {
				"duration": {
					"type": "integer",
					"description": "duration"
				},
				"page": {
					"description": "Details of the page",
					"properties": {
						"pageNumber": {
							"description": "Page number"
						},
						"pageSize": {
							"description": "Page size of recrods to render on page"
						},
						"total": {
							"description": "Total no of records"
						}
					}
				},
				"vehicleStatusList": {
					"type": "array",
					"description": "The list of vehicles",
					"items": {
						"type": "object",
						"properties": {
							"deviceProvisionId": {
								"type": "integer",
								"description": "device provision Id"
							},
							"imb": {
								"type": "object",
								"description": "imb"
							},
							"imei": {
								"type": "number",
								"description": "IMEI no of devices"
							},
							"siteName": {
								"type": "string",
								"description": "Name of the site"
							},
							"userName": {
								"type": "string",
								"description": "userName of the user"
							},
							"vehicle": {
								"type": "object",
								"description": "Details of the vehicle",
								"properties": {
									"deviceProvisionId": {
										"type": "number",
										"description": "device provision Id"
									},
									"fuelType": {
										"type": "string",
										"description": "The fuel used in the vehicles like petrol, CNG etc."
									},
									"make": {
										"type": "string",
										"description": "Details of the make"
									},
									"model": {
										"type": "string",
										"description": "Vehicle model"
									},
									"registrationNumber": {
										"type": "string",
										"description": "details of registration"
									},
									"vehicleName": {
										"type": "string",
										"description": "Name of the vehicle"
									},
									"xPrimaryKey": {
										"type": "string",
										"description": "Primary key of x model"
									},
									"year": {
										"type": "integer",
										"description": "Manufacturer years"
									}
								}
							},
							"vehicleStatus": {
								"type": "object",
								"description": "Status of the vehicles",
								"properties": {
									"deviceStatus": {
										"type": "string",
										"description": "Status of the device"
									},
									"fuelInfo": {
										"type": "string",
										"description": "Details of fuel info"
									},
									"igs": {
										"type": "string",
										"description": ""
									},
									"imi": {
										"type": "number",
										"description": "Details of imi"
									},
									"lastUpdatedTime": {
										"type": "string",
										"format": "datetime",
										"description": "Last udpated time"
									},
									"deviceHealthInfo": {
										"type": "object",
										"description": "Device healty information"
									},
									"locationInfo": {
										"type": "object",
										"description": "Details of vehicles location"
									}
								}
							}
						}
					}
				}
			}
		},
		"aggregation_vehiclestatus": {
			"type": "object",
			"properties": {
				"duration": {
					"type": "integer",
					"format": "int32",
					"description": "Duration"
				},
				"vehicleStatusCount": {
					"type": "object",
					"properties": {
						"disconnected": {
							"type": "integer"
						},
						"total": {
							"type": "integer"
						},
						"idle": {
							"type": "integer"
						},
						"moving": {
							"type": "integer"
						},
						"nogps": {
							"type": "integer"
						},
						"stopped": {
							"type": "integer"
						},
						"unknown": {
							"type": "integer"
						}
					}
				}
			}
		},
		"devices_alerts_response": {
			"type": "object",
			"properties": {
				"alertsCount": {
					"type": "integer",
					"description": "the number of alerts"
				},
				"vehicleAlertList": {
					"type": "array",
					"description": "The list of vehicles",
					"items": {
						"properties": {
							"imi": {
								"type": "integer"
							},
							"alertInfo": {
								"type": "object",
								"properties": {
									"ackTime": {
										"type": "integer"
									},
									"ackUser": {
										"type": "string"
									},
									"alc": {
										"type": "number"
									},
									"alertId": {
										"type": "string"
									},
									"alertType": {
										"type": "string"
									},
									"alertdetails": {
										"type": "object",
										"properties": {
											"alertFor": {
												"type": "string"
											},
											"alertMessage": {
												"type": "string"
											},
											"alertType": {
												"type": "string"
											},
											"currentSpeed": {
												"type": "number"
											},
											"geofenceAssignmentType": {
												"type": "string"
											},
											"geofenceId": {
												"type": "integer",
												"format": "int64"
											},
											"geofenceName": {
												"type": "string"
											},
											"geofenceSpeedLimit": {
												"type": "integer"
											},
											"id": {
												"type": "integer",
												"format": "int64"
											},
											"name": {
												"type": "string"
											},
											"parameter": {
												"type": "string"
											},
											"violationType": {
												"type": "string"
											}
										}
									},
									"altext": {
										"type": "string"
									},
									"clearBy": {
										"type": "null"
									},
									"clearTms": {
										"type": "string",
										"format": "datetime stamp or date-time"
									},
									"cleared": {
										"type": "boolean"
									},
									"deviceid": {
										"type": "string"
									},
									"enterpriceId": {
										"type": "integer"
									},
									"geofenceName": {
										"type": "string"
									},
									"geofenceSpeedLimit": {
										"type": "integer"
									},
									"imi": {
										"type": "integer"
									},
									"locationInfo": {
										"type": "object",
										"properties": {
											"device_id": {
												"type": "integer"
											},
											"deviceid": {
												"type": "string"
											},
											"dir": {
												"type": "integer"
											},
											"igs": {
												"type": "string"
											},
											"lat": {
												"type": "number"
											},
											"lgd": {
												"type": "null"
											},
											"lgt": {
												"type": "number"
											},
											"ltd": {
												"type": "string"
											},
											"pos": {
												"type": "string"
											},
											"spd": {
												"type": "integer"
											},
											"tms": {
												"type": "string"
											},
											"ver": {
												"type": "number"
											}
										}
									},
									"ltr": {
										"type": "integer"
									},
									"raisedtime": {
										"type": "number"
									},
									"raisedtms": {
										"type": "number"
									},
									"severity": {
										"type": "null"
									},
									"sincewhenidle": {
										"type": "integer"
									},
									"state": {
										"type": "null"
									},
									"threshold": {
										"type": "integer"
									},
									"tms": {
										"type": "string"
									},
									"value": {
										"type": "null"
									}
								}
							},
							"vehicle": {
								"$ref": "#/definitions/vehicle"
							}
						}
					}
				},
				"page": {
					"description": "Details of the page",
					"properties": {
						"pageNumber": {
							"description": "Page number"
						},
						"pageSize": {
							"description": "Page size of recrods to render on page"
						},
						"total": {
							"description": "Total no of records"
						}
					}
				}
			}
		},
		"aggregation_devicestatus": {
			"type": "object",
			"properties": {
				"duration": {
					"type": "integer"
				},
				"deviceStatusCount": {
					"type": "object",
					"properties": {
						"connected": {
							"type": "number"
						},
						"disconnected": {
							"type": "number"
						},
						"total": {
							"type": "number"
						}
					}
				}
			}
		},
		"aggregation_alerts": {
			"type": "object",
			"properties": {
				"alertTypesMap": {
					"type": "array",
					"items": {
						"properties": {
							"alc": {
								"type": "number"
							},
							"alt": {
								"type": "string"
							},
							"cnt": {
								"type": "integer"
							}
						}
					}
				},
				"enterpriseId": {
					"type": "null"
				},
				"responseTimeInMillSec": {
					"type": "number"
				},
				"total": {
					"type": "number"
				},
				"version": {
					"type": "null"
				}
			}
		},
		"geofences_by_deviceprovisionId": {
			"type": "object",
			"properties": {
				"element": {
					"type": "array",
					"items": {
						"properties": {
							"CreatedOn": {
								"type": "string"
							},
							"alertEnabled": {
								"type": "boolean"
							},
							"geofenceId": {
								"type": "integer",
								"format": "int64"
							},
							"geofenceName": {
								"type": "string"
							},
							"geofenceType": {
								"type": "string"
							},
							"speedLimit": {
								"type": "number"
							},
							"fenceCoOrdinates": {
								"type": "object",
								"properties": {
									"coOrdinates": {
										"type": "array",
										"items": {
											"properties": {
												"index": {
													"type": "integer"
												},
												"x": {
													"type": "number"
												},
												"y": {
													"type": "number"
												}
											}
										}
									},
									"radius": {
										"type": "number"
									}
								}
							}
						}
					}
				},
				"page": {
					"description": "Details of the page",
					"properties": {
						"pageNumber": {
							"description": "Page number"
						},
						"pageSize": {
							"description": "Page size of recrods to render on page"
						},
						"total": {
							"description": "Total no of records"
						}
					}
				}
			}
		},
		"vehicle": {
			"type": "object",
			"description": "Details of the vehicle",
			"properties": {
				"deviceProvisionId": {
					"type": "number",
					"description": "device provision Id"
				},
				"fuelType": {
					"type": "string",
					"description": "The fuel used in the vehicles like petrol, CNG etc."
				},
				"make": {
					"type": "string",
					"description": "Details of the make"
				},
				"model": {
					"type": "string",
					"description": "Vehicle model"
				},
				"registrationNumber": {
					"type": "string",
					"description": "details of registration"
				},
				"siteName": {
					"type": "string",
					"description": "Name of the site"
				},
				"userName": {
					"type": "string",
					"description": "userName of the user"
				},
				"vehicleName": {
					"type": "string",
					"description": "Name of the vehicle"
				},
				"xPrimaryKey": {
					"type": "string",
					"description": "Primary key of x model"
				},
				"year": {
					"type": "integer",
					"description": "Manufacturer years"
				}
			}
		},
		"he_dashboard_slidata": {
			"type": "object",
			"properties": {
				"sliBypassStatusCount": {
					"type": "object",
					"properties": {
						"OFF": {
							"type": "integer"
						},
						"ON": {
							"type": "integer"
						},
						"TOTAL": {
							"type": "integer"
						},
						"UNAVAILABLE": {
							"type": "integer"
						},
						"UNKNOWN": {
							"type": "integer"
						}
					}
				}
			}
		},
		"cg_dashboard_asset_livestatus": {
			"type": "object",
			"properties": {
				"assetStatusList": {
					"type": "array",
					"items": {
						"properties": {
							"assetCurrentStatusMap": {
								"type": "object",
								"properties": {
									"door": {
										"type": "object",
										"properties": {
											"fnm": {
												"type": "string"
											},
											"fuellevel": {
												"type": "integer"
											},
											"status": {
												"type": "string"
											},
											"tms": {
												"type": "string"
											},
											"val": {
												"type": "number"
											}
										}
									},
									"power": {
										"type": "object",
										"properties": {
											"fnm": {
												"type": "string"
											},
											"fuellevel": {
												"type": "number"
											},
											"status": {
												"type": "string"
											},
											"tms": {
												"type": "string"
											},
											"val": {
												"type": "number"
											}
										}
									},
									"temperature": {
										"type": "object",
										"properties": {
											"fnm": {
												"type": "string"
											},
											"fuellevel": {
												"type": "number"
											},
											"status": {
												"type": "string"
											},
											"tms": {
												"type": "string"
											},
											"val": {
												"type": "number"
											}
										}
									}
								}
							},
							"assetNo": {
								"type": "string"
							},
							"deviceStatus": {
								"type": "string"
							},
							"locationInfo": {
								"type": "object",
								"properties": {
									"dir": {
										"type": "number"
									},
									"lat": {
										"type": "number"
									},
									"lgd": {
										"type": "number"
									},
									"lgt": {
										"type": "number"
									},
									"ltd": {
										"type": "number"
									},
									"pos": {
										"type": "null"
									},
									"spd": {
										"type": "number"
									},
									"timestamp": {
										"type": "string"
									},
									"tms": {
										"type": "string"
									}
								}
							},
							"name": {
								"type": "string"
							},
							"vehicleStatus": {
								"type": "string"
							}
						}
					}
				}
			}
		},
		"dg_dashboard_livestatus_dgstatus": {
			"type": "object",
			"properties": {
				"currentStatusList": {
					"type": "array",
					"items": {
						"properties": {
							"fuellevel": {
								"type": "number"
							},
							"imi": {
								"type": "string"
							},
							"lastupdatedtime": {
								"type": "string"
							},
							"locationinfo": {
								"type": "object",
								"properties": {
									"lat": {
										"type": "number"
									},
									"lgd": {
										"type": "number"
									},
									"lgt": {
										"type": "null"
									},
									"ltd": {
										"type": "string"
									}
								}
							},
							"make": {
								"type": "string"
							},
							"model": {
								"type": "string"
							},
							"name": {
								"type": "string"
							},
							"status": {
								"type": "string"
							}
						}
					}
				},
				"page": {
					"description": "Details of the page",
					"properties": {
						"pageNumber": {
							"description": "Page number"
						},
						"pageSize": {
							"description": "Page size of recrods to render on page"
						},
						"total": {
							"description": "Total no of records"
						}
					}
				}
			}
		},
		"dg_dashboard_aggregation_asset_status": {
			"type": "object",
			"properties": {
				"currentStatusCount": {
					"type": "object",
					"properties": {
						"OFF": {
							"type": "integer"
						},
						"ON": {
							"type": "integer"
						},
						"TOTAL": {
							"type": "integer"
						},
						"UNAVAILABLE": {
							"type": "integer"
						},
						"UNKNOWN": {
							"type": "integer"
						}
					}
				}
			}
		},
		"enterpries_response": {
			"type": "object",
			"properties": {
				"page": {
					"description": "Details of the page",
					"properties": {
						"pageNumber": {
							"description": "Page number"
						},
						"pageSize": {
							"description": "Page size of recrods to render on page"
						},
						"total": {
							"description": "Total no of records"
						}
					}
				},
				"elements": {
					"type": "array",
					"description": "The list of Enterprises",
					"items": {
						"type": "object",
						"properties": {
							"tenantId": {
								"type": "integer",
								"description": "Unique identifier"
							},
							"name": {
								"type": "string",
								"description": "Friendly name"
							},
							"address": {
								"type": "string",
								"description": "Address"
							},
							"zipCode": {
								"type": "string",
								"description": "Area PIN code"
							},
							"city": {
								"type": "string",
								"description": "City"
							},
							"country": {
								"type": "string",
								"description": "Latitude"
							},
							"longitude": {
								"type": "string",
								"description": "Longitude"
							},
							"platformName": {
								"type": "string",
								"description": "Platform name"
							},
							"layouts": {
								"type": "string",
								"description": "attached layouts into enterprise"
							}
						}
					}
				}
			}
		},
		"gms_getmasterdata_response": {
			"type": "object",
			"properties": {
				"city": {
					"type": "string"
				},
				"siteId": {
					"type": "integer"
				},
				"master": {
					"type": "object",
					"properties": {
						"carType": {
							"type": "array"
						},
						"directory": {
							"type": "array",
							"items": {
								"properties": {
									"key": {
										"type": "string"
									},
									"mobile": {
										"type": "string"
									}
								}
							}
						},
						"tripTypes": {
							"type": "array",
							"items": {
								"properties": {
									"displayName": {
										"type": "string"
									},
									"fromLocation": {
										"type": "string"
									},
									"key": {
										"type": "string"
									},
									"toLocation": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			}
		},
		"gms_guest_details_response": {
			"type": "object",
			"properties": {
				"bookingLIst": {
					"type": "array",
					"items": {
						"properties": {
							"arr_car_type": {
								"type": "string"
							},
							"arr_carrier": {
								"type": "string"
							},
							"arr_comments": {
								"type": "string"
							},
							"arr_station": {
								"type": "string"
							},
							"arr_time": {
								"type": "string"
							},
							"arrival": {
								"type": "string"
							},
							"arrivalDateTime": {
								"type": "string"
							},
							"bookingId": {
								"type": "string"
							},
							"checkoutDateTime": {
								"type": "string"
							}
						}
					}
				}
			}
		}
	},
	"parameters": {
		"pageSize": {
			"name": "pageSize",
			"in": "query",
			"description": "Page size of recrods to render on page",
			"required": true,
			"type": "integer",
			"default": 10
		},
		"pageNumber": {
			"name": "pageNumber",
			"in": "query",
			"type": "integer",
			"required": true,
			"description": "Page number is location of page",
			"default": 0
		},
		"sortBy": {
			"name": "sortBy",
			"in": "query",
			"description": "Sorting your records by",
			"type": "string"
		},
		"sortOrder": {
			"name": "sortOrder",
			"in": "query",
			"description": "Order you records in ASC or DESC",
			"type": "string",
			"items": {
				"type": "string",
				"enum": [
					"ASC",
					"DESC"
				]
			}
		},
		"searchKey": {
			"name": "searchKey",
			"in": "query",
			"description": "Filter records",
			"type": "string"
		},
		"from": {
			"type": "number",
			"name": "from",
			"in": "query",
			"description": "timestamp"
		},
		"to": {
			"name": "to",
			"in": "query",
			"description": "timestamp",
			"type": "integer"
		},
		"alccode": {
			"name": "to",
			"in": "query",
			"description": "type of alerts",
			"type": "integer"
		},
		"showlocation": {
			"name": "to",
			"in": "query",
			"description": "show location",
			"type": "boolean"
		},
		"lat": {
			"name": "lat",
			"in": "query",
			"description": "Latitude",
			"type": "number"
		},
		"lgt": {
			"name": "lgt",
			"in": "query",
			"description": "Longitude",
			"type": "number"
		}
	},
	"responses": {
		"unauthorized": {
			"description": "Unauthorized user",
			"schema": {
				"properties": {
					"status": {
						"type": "integer"
					},
					"code": {
						"type": "integer"
					},
					"message": {
						"type": "string"
					},
					"From": {
						"type": "string"
					}
				}
			}
		},
		"bad_request": {
			"description": "Access is denied",
			"schema": {
				"properties": {
					"status": {
						"type": "integer"
					},
					"code": {
						"type": "integer"
					},
					"message": {
						"type": "string"
					},
					"From": {
						"type": "string"
					}
				}
			}
		},
		"delete_successful": {
			"description": "Successfully deleted",
			"schema": {
				"type": "object",
				"properties": {
					"message": {
						"type": "string"
					},
					"status": {
						"type": "integer"
					},
					"code": {
						"type": "integer"
					},
					"From": {
						"type": "string"
					}
				}
			}
		}
	},
	"externalDocs": {
		"description": "Find out more about Swagger",
		"url": "http://swagger.io"
	}
}
